/* Pallete: https://coolors.co/db5461-ffd9ce-593c8f-8ef9f3-171738 */

.introPageRoot {
    height: 100%;
    width: 100%;
    position: fixed;
    display: block;
    top: inherit;
    background-color: #FFD9CE;
}

.introPageContainer {
    text-align: center;
    position: absolute;
    top: 35%;
}

.introPageTitle {
    margin-bottom: 10px;
}

.introPageButtonNav {
    justify-content: center;
}