.itemCompleteTrue
{
    text-decoration: line-through;
}

.itemCompleteFalse
{
    text-decoration: none;
}

.formContainer
{
    margin: auto;
    margin-top: 50px;
    width: 50%;
    max-width: 550px;
}

.todoRow
{
    margin-bottom: 5px;
}

.todoItemText
{
    padding-top: 3px;
}